body{
    background:crimson
}
h1{text-align: center;}
p{
    text-align: center;
}
img{width: 450px;}
.cabecalho{
    background-color: black;
    display: flex;
}
header{
    color: white;
}
.logoimg{
    width: 350px;
    height: 300px;
}
.listacabecalho{
   display: inline;
    margin-left: 50px;
    margin-top: 50px;
}
.listacabecalho{
padding-left:  0px;

}